In [22]:
import numpy as np
import pandas as pd

In [23]:
# 先尝试合并stroke和heart disease
stroke = pd.read_csv('preparations/stroke_output.csv')
heart = pd.read_csv('preparations/heart_output.csv')
heart = heart.rename(columns={'Age': 'age', 'HeartDisease': 'heart_disease'})


stroke['age'] = stroke['age'].astype(int)
stroke['heart_disease'] = stroke['heart_disease'].astype(int)

heart['age'] = heart['age'].astype(int)
heart['heart_disease'] = heart['heart_disease'].astype(int)

print("stroke 数据类型:")
print(stroke[['age', 'heart_disease']].dtypes)

print("\nheart 数据类型:")
print(heart[['age', 'heart_disease']].dtypes)

merged_df = pd.merge(
    stroke,
    heart.drop_duplicates(subset=['age', 'heart_disease']),  # 避免 heart 数据重复
    on=['age', 'heart_disease'],
    how='inner'  # 以 stroke 为准，不匹配的填 NaN
).reset_index(drop=True)

stroke 数据类型:
age              int32
heart_disease    int32
dtype: object

heart 数据类型:
age              int32
heart_disease    int32
dtype: object

In [24]:
merged_df.head()

,age,hypertension,heart_disease,ever_married,work_type,avg_glucose_level,bmi,smoking_status,stroke,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,67,0,1,1,3.0,228.69,36.600000,1,1,0,3,145,0,0,2,125,0,0.0,1
1,67,0,1,1,3.0,144.10,27.600000,0,0,0,3,145,0,0,2,125,0,0.0,1
2,67,1,1,1,3.0,254.63,31.000000,0,0,0,3,145,0,0,2,125,0,0.0,1
3,67,0,1,1,2.0,95.88,31.900000,3,0,0,3,145,0,0,2,125,0,0.0,1
4,67,0,1,1,3.0,97.24,28.893237,3,0,0,3,145,0,0,2,125,0,0.0,1

In [25]:
merged_df.to_csv('preparations/stroke_heart_merged.csv')

In [26]:
cirrhosis = pd.read_csv('preparations/cirrhosis_output.csv')

cirrhosis = cirrhosis.rename(columns={'Age':'age'})

In [27]:
cirrhosis = cirrhosis.drop_duplicates(subset=['age'])

merged_df2 = pd.merge(  # 使用正确的merge函数
    merged_df,
    cirrhosis,
    on='age',
    how='inner'
).drop_duplicates().reset_index(drop=True)  # 修正拼写

merged_df2.head()

,age,hypertension,heart_disease,ever_married,work_type,avg_glucose_level,bmi,smoking_status,stroke,Sex,...,Spiders,Edema,Bilirubin,Albumin,Copper,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,67,0,1,1,3.0,228.69,36.600000,1,1,0,...,0.0,0,2.6,3.1,94.0,56.76,124.702128,214.0,11.0,4.0
1,67,0,1,1,3.0,144.10,27.600000,0,0,0,...,0.0,0,2.6,3.1,94.0,56.76,124.702128,214.0,11.0,4.0
2,67,1,1,1,3.0,254.63,31.000000,0,0,0,...,0.0,0,2.6,3.1,94.0,56.76,124.702128,214.0,11.0,4.0
3,67,0,1,1,2.0,95.88,31.900000,3,0,0,...,0.0,0,2.6,3.1,94.0,56.76,124.702128,214.0,11.0,4.0
4,67,0,1,1,3.0,97.24,28.893237,3,0,0,...,0.0,0,2.6,3.1,94.0,56.76,124.702128,214.0,11.0,4.0

In [28]:
merged_df2.to_csv('preparations/stroke_heart_cirrhosis_merged.csv',index=False)